# Copyright 2023 Intrinsic Innovation LLC

# Add requirements you need for bazel py_* rules here.
#
# Generate requirements.txt with:
# bazel run //:requirements_sdk.update
#
# Reference the dependencies with:
#
# py_library(
#   ...
#   deps = [
#     @ai_intrinsic_sdks_pip_deps//numpy,
#   ],
# )

black==25.1.0
graphviz==0.21
google-re2==1.1.20240702
grpcio==1.74.0
grpcio-status==1.74.0
hypothesis==6.135.14
ipywidgets==8.1.7
matplotlib==3.10.7
numpy==1.26.4
opencv-python-headless==4.11.0.86
pandas==2.3.0
pillow==11.2.1
retrying==1.4.0
typing-extensions==4.14.0
